body {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 14px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.align-self-center {
  align-self: center;
}
